# 簡介機器學習
### 可大致分為監督鄰近分類學習和非監督兩種學習方法
<img src="unsuper.png">
1. 非監督式學習(Unsupervised Learing)的訓練資料不需要事先以人力處理標籤，機器面對資料時，做的處理是依照關聯性去歸類、找出潛在規則與套路、形成集群，不對資訊有正確或不正確的判別
<img src="supervised.png">
2. 監督式學習 (Supervised learning) 是電腦從標籤化 (labeled) 的資訊中分析模式後做出預測的學習方式。標記過的資料就好比標準答案，電腦在學習的過程透過對比誤差，一邊修正去達到更精準的預測，這樣的方式讓監督式學習有準確率高的優點。 

 根據不同特徵值之間的距離來進行分類的一種簡單的機器學習方法，它是一種簡單但是懶惰的演算法。他的訓練資料都是有標籤的資料，即訓練的資料都有自己的類別。KNN演算法主要應用領域是對未知事物進行分類，即判斷未知事物屬於哪一類，判斷透過歐幾里得定理，判斷未知事物的特徵和哪一類已知事物的的特徵最接近。它也可以用於遞迴，通過找出一個樣本的k個最近鄰居，將這些鄰居的屬性的平均值賦給該樣本，就可以得到該樣本的屬性。

 儘管很簡單，近鄰方法在處理資料量多的分類及迴歸分析上很成功

# KNN Algorithm 

### 之使用airbnb做房價預測

* KNN又稱K最近鄰居是基於監督學習技術的最簡單的機器學習算法之一。  

* KNN算法假設新案例/數據與可用案例之間具有相似性，並將新案例放入與可用類別最相似的類別中。

* KNN算法存儲所有可用數據，並基於相似度對新數據點進行分類。這意味著，當出現新數據時，可以使用K-NN算法將其輕鬆分類為鑽井套件類別。

* KNN算法既可以用於回歸也可以用於分類，但是大多數情況下用於分類問題。

* KNN是一種非參數算法，這意味著它不會對基礎數據進行任何假設。

* 它也稱為惰性學習器算法，因為它不立即從訓練集中學習，而是存儲數據集，並且在分類時對數據集執行操作。

* 訓練階段的KNN算法僅存儲數據集，並在獲取新數據時將其分類為與新數據非常相似的類別。

假設我們有一個看起來類似於婊子和狗的生物的圖像，但是我們想知道它是婊子還是狗。因此，對於這種識別，我們可以使用KNN算法，因為它適用於相似性度量。我們的KNN模型將發現新數據集與婊子和狗圖像相似的特徵，並基於最相似的特徵將其分類為婊子或狗類別。
<img src="dog.png">

## Airbnb in Taipe
<img src="2020-07-01_070428.png">

台北他媽的居大不易，除非你青春的身體，不然應該付出金錢上的代價，來換得一個短期的藏身之地

## 資料抓取

因此我們先寫好一個爬蟲，去抓取官網上的資訊吧(?)
下次好了....
有一個叫做 http://insideairbnb.com/ 的非官方網站
會抓取官網上的資訊
大概每一年會至少更新一次
我拿了今年五月的資料用用
https://www.espn.com/mlb/stats/team/_/view/pitching/season/2019/seasontype/2/table/pitching/sort/ERA/dir/asc

In [127]:
import pandas as pd

features = ['R','H','HR','RBI','SO','TB','OBP','OPS','pW','pERA','pHR','pSO','pBB','pWHIP']
#篩選出有用的特徵

dc_listings = pd.read_csv('baseball (1).csv',low_memory=False)

dc_listings = dc_listings[features]

print(dc_listings.shape)

dc_listings.head()

(90, 14)

,R,H,HR,RBI,SO,TB,OBP,OPS,pW,pERA,pHR,pSO,pBB,pWHIP
0,729,1379,213,698,1435,2320,0.310,0.725,54,5.59,305,1248,561,1.46
1,901,1554,245,857,1382,2688,0.340,0.806,84,4.70,215,1633,605,1.38
2,769,1368,220,734,1276,2338,0.324,0.746,72,5.12,267,1404,576,1.38
3,769,1354,223,731,1332,2345,0.323,0.756,93,3.76,207,1508,450,1.22
4,691,1356,162,655,1405,2203,0.309,0.710,59,5.20,221,1230,582,1.48

擷取的特徵 (baseball (1).csv 有很多跟我一樣廢的資訊 這邊只取幾個比較有用的)

## 如果我今天他媽的有一張床，也沒有女生要住我家，我能租多少錢?
--> 484要看看別人都賣多少

<img src="newdatapoint.png">


## KNN原理

## K為一個常數，表示我們找K個房間數量的價格做比較
如我們所見，最近的三個鄰居來自類別A，因此此新數據點必須屬於類別A。
如何在KNN演算法中選擇K的值?

在K-NN算法中選擇K的值時，需要記住以下幾點：
* 沒有確定“ K”的最佳值的特定方法，因此我們需要嘗試一些值以從中找出最佳值。
* K的極低值（例如K = 1或K = 2）可能會產生噪聲，並導致模型中異常值的影響。
* 較大的K值不錯，但可能會遇到一些困難。
<img src="K_is_three.png">
此圖中選擇  K=3

### KNN演算法的優點:
實施起來很簡單。
它對嘈雜的訓練數據具有魯棒性
如果訓練數據很大，可能會更有效。
### KNN演算法的缺點:
始終需要確定K的值，該值有時可能很複雜。
由於計算所有訓練樣本的數據點之間的距離，因此計算成本很高。

## 距離的計算

<img src="6.png" style="width:400px;height:80px;float:left">

q1到qn為一個個案的特徵之資料 
p1到pn是另一個個案的

假設我的ERA=3，就ERA數量這個特徵來計算距離

In [128]:
import numpy as np

our__value = 4

dc_listings['distance'] = np.abs(dc_listings.pERA - our__value)
dc_listings.distance.value_counts().sort_index()

0.00    2
0.01    1
0.03    2
0.04    1
0.05    2
       ..
1.20    1
1.24    1
1.36    1
1.56    1
1.59    1
Name: distance, Length: 71, dtype: int64

這邊跟我們距離為0的房間()有 777個

透過sample稍微洗一下牌

In [129]:
dc_listings = dc_listings.sample(frac=1,random_state=0)#frac=1做shuffle 
dc_listings = dc_listings.sort_values('distance')
dc_listings.pW.head()

67    86
58    82
83    83
8     97
89    80
Name: pW, dtype: int64

把那個垃圾$字號去掉 這邊取K

In [130]:
#dc_listings['pW'] = dc_listings.pW.str.replace("\$|,",'').astype(float)

mean_price = dc_listings.pW.iloc[:5].mean()
mean_price

85.6

隨機取五個數，得到大致的價格

## 模型的規劃

<img src="2020-07-01_091209.png" style="width:600px;height:250px;float:left">

先切割出訓練集 和 測試集

In [131]:
dc_listings = dc_listings.sample(frac=1,random_state=22)

dc_listings.drop('distance',axis=1)

train_df = dc_listings.copy().iloc[:60]
test_df = dc_listings.copy().iloc[60:]

以某個特徵做預測

In [132]:
def predict_pW(new_listing_value,feature_column):
    #print('new_list_value',new_listing_value)
    temp_df = train_df
    temp_df['distance'] = np.abs(dc_listings[feature_column] - new_listing_value)
    temp_df = temp_df.sort_values('distance')
    knn_5 = temp_df.pW.iloc[:5]
    #print('knn_5',knn_5)
    predicted_pW = knn_5.mean()
    return(predicted_pW)

In [133]:
test_df['predicted_pW'] = test_df.pERA.apply(predict_pW,feature_column='pERA')
test_df[['pW','pERA','predicted_pW']].head(10)

     pW  pERA  predicted_pW
65   64  5.36          61.8
39   64  4.58          76.4
52   80  4.14          91.0
57   90  3.74          92.8
79   97  3.88          86.8
11   67  4.79          70.4
42  100  3.78          92.4
45   67  4.92          69.2
75   92  3.95          84.2
25   57  4.74          71.4

我們得到了測試集中房屋的價格

root mean squared error (RMSE)均方根误差

<img src="8.png" style="width:700px;height:100px;float:left">

In [134]:
test_df['squared_error'] = (test_df['predicted_pW'] - test_df['pW'])**(2)
mse = test_df['squared_error'].mean()
rmse = mse ** (1/2)
rmse

9.450925880568528

得到一個變數的 rmse

## 不同的變數的結果

In [137]:
for feature in ['SO','OBP','pERA','pWHIP']:
    test_df['predicted_pW'] = test_df[feature].apply(predict_pW,feature_column=feature)
    test_df['squared_error'] = (test_df['predicted_pW'] - test_df['pW'])**(2)
    mse = test_df['squared_error'].mean()
    rmse = mse ** (1/2)
    print("RMSE for the {} column: {}".format(feature,rmse))

RMSE for the SO column: 17.857659421099953
RMSE for the OBP column: 11.561660780355043
RMSE for the pERA column: 9.450925880568528
RMSE for the pWHIP column: 11.2653450901426

差異有點大，接下來要統合一下

In [139]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
features = ['R','H','HR','RBI','SO','TB','OBP','OPS','pW','pERA','pHR','pSO','pBB','pWHIP']

dc_listings = pd.read_csv('baseball (1).csv',low_memory=False)

dc_listings = dc_listings[features]

#dc_listings['price'] = dc_listings.price.str.replace("\$|,",'').astype(float)

dc_listings = dc_listings.dropna()#捨棄掉欄位缺失的

dc_listings[features] = StandardScaler().fit_transform(dc_listings[features])
#做標準化

normalized_listings = dc_listings

print(dc_listings.shape)

normalized_listings.head()

(90, 14)

,R,H,HR,RBI,SO,TB,OBP,OPS,pW,pERA,pHR,pSO,pBB,pWHIP
0,-0.286917,-0.185070,0.208574,-0.259182,0.483401,-0.130370,-0.929721,-0.531210,-1.938043,2.294354,2.395848,-0.311858,0.516825,0.749150
1,1.859759,2.323405,1.061831,1.784286,0.023707,2.123212,1.460990,1.626182,0.215338,0.670445,0.388777,1.185217,0.935273,0.418440
2,0.212310,-0.342745,0.395224,0.203490,-0.895680,-0.020141,0.185944,0.028114,-0.646014,1.436784,1.548418,0.294749,0.659478,0.418440
3,0.212310,-0.543423,0.475217,0.164934,-0.409966,0.022726,0.106254,0.294459,0.861352,-1.044694,0.210371,0.699154,-0.538804,-0.242980
4,-0.761183,-0.514755,-1.151304,-0.811818,0.223197,-0.846862,-1.009411,-0.930727,-1.579146,1.582754,0.522582,-0.381852,0.716539,0.831828

In [140]:
norm_train_df = normalized_listings.copy().iloc[0:60]
norm_test_df = normalized_listings.copy().iloc[60:]

多變數的距離計算

<img src="9.png" style="width:700px;height:400px;float:left">

scipy中有現成的距離計算公式

In [142]:
from scipy.spatial import distance

first_listing = normalized_listings.iloc[0][['OBP', 'pERA']]
fifth_listing = normalized_listings.iloc[20][['OBP', 'pERA']]
first_fifth_distance = distance.euclidean(first_listing, fifth_listing)
first_fifth_distance

1.2778442268935872

## 多變數KNN模型

In [145]:
def predict_pW_multivariate(new_listing_value,feature_columns):
    temp_df = norm_train_df
    temp_df['distance'] = distance.cdist(temp_df[feature_columns],[new_listing_value[feature_columns]])
    temp_df = temp_df.sort_values('distance')
    knn_5 = temp_df.pW.iloc[:5]
    predicted_pW = knn_5.mean()
    return(predicted_pW)

cols = ['OBP', 'pERA']
norm_test_df['predicted_pW'] = norm_test_df[cols].apply(predict_pW_multivariate,feature_columns=cols,axis=1)    
norm_test_df['squared_error'] = (norm_test_df['predicted_pW'] - norm_test_df['pW'])**(2)
mse = norm_test_df['squared_error'].mean()
rmse = mse ** (1/2)
print(rmse)

0.7098589312763492

# 參考資料
* https://www.twblogs.net/a/5baab1662b7177781a0e63a0
* https://blog.csdn.net/weixin_41789707/article/details/80930274?utm_source=copy
* https://scikit-learn.org/stable/modules/neighbors.html?fbclid=IwAR1fuB0TtM1ZpzzNyHvHWc9mw0KqKzuDgmnXQON9UcOByosoNEWNgJJda8Y#ball-tree
* https://www.javatpoint.com/k-nearest-neighbor-algorithm-for-machine-learning?fbclid=IwAR2dRxMOfVOu1eXw9STV8vAw-YQmeGQTL-LcCLiPCYDkIYGgrRV5Tp-LYdQ