# 簡介機器學習
### 可大致分為監督鄰近分類學習和非監督兩種學習方法
<img src="unsuper.png">
1. 非監督式學習(Unsupervised Learing)的訓練資料不需要事先以人力處理標籤，機器面對資料時，做的處理是依照關聯性去歸類、找出潛在規則與套路、形成集群，不對資訊有正確或不正確的判別
<img src="supervised.png">
2. 監督式學習 (Supervised learning) 是電腦從標籤化 (labeled) 的資訊中分析模式後做出預測的學習方式。標記過的資料就好比標準答案，電腦在學習的過程透過對比誤差，一邊修正去達到更精準的預測，這樣的方式讓監督式學習有準確率高的優點。 

 根據不同特徵值之間的距離來進行分類的一種簡單的機器學習方法，它是一種簡單但是懶惰的演算法。他的訓練資料都是有標籤的資料，即訓練的資料都有自己的類別。KNN演算法主要應用領域是對未知事物進行分類，即判斷未知事物屬於哪一類，判斷透過歐幾里得定理，判斷未知事物的特徵和哪一類已知事物的的特徵最接近。它也可以用於遞迴，通過找出一個樣本的k個最近鄰居，將這些鄰居的屬性的平均值賦給該樣本，就可以得到該樣本的屬性。

 儘管很簡單，近鄰方法在處理資料量多的分類及迴歸分析上很成功

# KNN Algorithm 

### 之使用airbnb做房價預測

* KNN又稱K最近鄰居是基於監督學習技術的最簡單的機器學習算法之一。  

* KNN算法假設新案例/數據與可用案例之間具有相似性，並將新案例放入與可用類別最相似的類別中。

* KNN算法存儲所有可用數據，並基於相似度對新數據點進行分類。這意味著，當出現新數據時，可以使用K-NN算法將其輕鬆分類為鑽井套件類別。

* KNN算法既可以用於回歸也可以用於分類，但是大多數情況下用於分類問題。

* KNN是一種非參數算法，這意味著它不會對基礎數據進行任何假設。

* 它也稱為惰性學習器算法，因為它不立即從訓練集中學習，而是存儲數據集，並且在分類時對數據集執行操作。

* 訓練階段的KNN算法僅存儲數據集，並在獲取新數據時將其分類為與新數據非常相似的類別。

假設我們有一個看起來類似於婊子和狗的生物的圖像，但是我們想知道它是婊子還是狗。因此，對於這種識別，我們可以使用KNN算法，因為它適用於相似性度量。我們的KNN模型將發現新數據集與婊子和狗圖像相似的特徵，並基於最相似的特徵將其分類為婊子或狗類別。
<img src="dog.png">

## Airbnb in Taipe
<img src="2020-07-01_070428.png">

台北他媽的居大不易，除非你青春的身體，不然應該付出金錢上的代價，來換得一個短期的藏身之地

## 資料抓取

因此我們先寫好一個爬蟲，去抓取官網上的資訊吧(?)
下次好了....
有一個叫做 http://insideairbnb.com/ 的非官方網站
會抓取官網上的資訊
大概每一年會至少更新一次
我拿了今年五月的資料用用
https://www.espn.com/mlb/stats/team/_/view/pitching/season/2019/seasontype/2/table/pitching/sort/ERA/dir/asc

In [1]:
import pandas as pd

#features = ['accommodates','bedrooms','bathrooms','beds','price','minimum_nights','maximum_nights','number_of_reviews']
#篩選出有用的特徵

dc_listings = pd.read_csv('baseball (1).csv',low_memory=False)

#dc_listings = dc_listings[features]

print(dc_listings.shape)

dc_listings.head()

(90, 31)

,GP,AB,R,H,2B,3B,HR,RBI,TB,BB,...,pSHO,pQS,pIP,pH,pER,pHR,pBB,pSO,pOBA,pWHIP
0,162,5596,729,1379,252,25,213,698,2320,462,...,5,41,1443.0,1544,897,305,561,1248,0.271,1.46
1,162,5770,901,1554,345,27,245,857,2688,590,...,8,55,1471.0,1423,768,215,605,1633,0.251,1.38
2,162,5542,769,1368,268,21,220,734,2338,586,...,2,22,1442.2,1417,820,267,576,1404,0.254,1.38
3,162,5425,769,1354,286,18,223,731,2345,563,...,16,81,1437.2,1308,601,207,450,1508,0.240,1.22
4,162,5496,691,1356,281,40,162,655,2203,456,...,7,59,1425.0,1525,824,221,582,1230,0.273,1.48

擷取的特徵 (listing2.csv 有很多跟我一樣廢的資訊 這邊只取幾個比較有用的)
* accommodates: 可以容納的房客
* bedrooms: 房間的數量
* bathrooms: 廁所的數量
* beds: 床的數量
* price: 一晚的費用
* minimum_nights: 客人最少租了幾天
* maximum_nights: 客人最多租了幾天
* number_of_reviews: 評論數

## 如果我今天他媽的有一張床，也沒有女生要住我家，我能租多少錢?
--> 484要看看別人都賣多少

<img src="newdatapoint.png">


## KNN原理

## K為一個常數，表示我們找K個房間數量的價格做比較
如我們所見，最近的三個鄰居來自類別A，因此此新數據點必須屬於類別A。
如何在KNN演算法中選擇K的值?

在K-NN算法中選擇K的值時，需要記住以下幾點：
* 沒有確定“ K”的最佳值的特定方法，因此我們需要嘗試一些值以從中找出最佳值。
* K的極低值（例如K = 1或K = 2）可能會產生噪聲，並導致模型中異常值的影響。
* 較大的K值不錯，但可能會遇到一些困難。
<img src="K_is_three.png">
此圖中選擇  K=3

### KNN演算法的優點:
實施起來很簡單。
它對嘈雜的訓練數據具有魯棒性
如果訓練數據很大，可能會更有效。
### KNN演算法的缺點:
始終需要確定K的值，該值有時可能很複雜。
由於計算所有訓練樣本的數據點之間的距離，因此計算成本很高。

## 距離的計算

<img src="6.png" style="width:400px;height:80px;float:left">

q1到qn為一個個案的特徵之資料 
p1到pn是另一個個案的

假設我的房子有三個房間，就房間數量這個特徵來計算距離

In [87]:
import numpy as np

our__value = 3

dc_listings['distance'] = np.abs(dc_listings.accommodates - our__value)
dc_listings.distance.value_counts().sort_index()

0      777
1     4737
2     1276
3      653
4      146
5      319
6       59
7      123
8       24
9       88
10      16
11      28
12      15
13     148
Name: distance, dtype: int64

這邊跟我們距離為0的房間()有 777個

透過sample稍微洗一下牌

In [88]:
dc_listings = dc_listings.sample(frac=1,random_state=0)#frac=1做shuffle 
dc_listings = dc_listings.sort_values('distance')
dc_listings.price.head()

2330      $509.00
1592    $1,736.00
4581    $2,514.00
8142    $3,685.00
7793    $1,107.00
Name: price, dtype: object

把那個垃圾$字號去掉 這邊取K

In [89]:
dc_listings['price'] = dc_listings.price.str.replace("\$|,",'').astype(float)

mean_price = dc_listings.price.iloc[:5].mean()
mean_price

1910.2

隨機取五個數，得到大致的價格

## 模型的規劃

<img src="2020-07-01_091209.png" style="width:600px;height:250px;float:left">

先切割出訓練集 和 測試集

In [90]:
dc_listings.drop('distance',axis=1)

train_df = dc_listings.copy().iloc[:6000]
test_df = dc_listings.copy().iloc[6000:]

以某個特徵做預測

In [91]:
def predict_price(new_listing_value,feature_column):
    temp_df = train_df
    temp_df['distance'] = np.abs(dc_listings[feature_column] - new_listing_value)
    temp_df = temp_df.sort_values('distance')
    knn_5 = temp_df.price.iloc[:5]
    predicted_price = knn_5.mean()
    return(predicted_price)

In [92]:
test_df['predicted_price'] = test_df.accommodates.apply(predict_price,feature_column='accommodates')
test_df['predicted_price']

8396    1646.4
2520     862.6
3410     862.6
8389    1646.4
710      862.6
         ...
1575    1646.4
6326    1646.4
2053    1646.4
3929    1646.4
5037    1646.4
Name: predicted_price, Length: 2409, dtype: float64

我們得到了測試集中房屋的價格

root mean squared error (RMSE)均方根误差

<img src="8.png" style="width:700px;height:100px;float:left">

In [93]:
test_df['squared_error'] = (test_df['predicted_price'] - test_df['price'])**(2)
mse = test_df['squared_error'].mean()
rmse = mse ** (1/2)
rmse

11788.995055405307

得到一個變數的 rmse

## 不同的變數的結果

In [99]:
for feature in ['accommodates','bedrooms','bathrooms','number_of_reviews']:
    #test_df['predicted_price'] = test_df.accommodates.apply(predict_price,feature_column=feature)
    test_df['predicted_price'] = test_df[feature].apply(predict_price,feature_column=feature)
    test_df['squared_error'] = (test_df['predicted_price'] - test_df['price'])**(2)
    mse = test_df['squared_error'].mean()
    rmse = mse ** (1/2)
    print("RMSE for the {} column: {}".format(feature,rmse))

RMSE for the accommodates column: 11733.24753513629
RMSE for the bedrooms column: 11656.941286634004
RMSE for the bathrooms column: 11834.781291713116
RMSE for the number_of_reviews column: 11859.234676269527

差異有點大，接下來要統合一下

In [95]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
features = ['accommodates','bedrooms','bathrooms','beds','price','minimum_nights','maximum_nights','number_of_reviews']

dc_listings = pd.read_csv('listings2.csv',low_memory=False)

dc_listings = dc_listings[features]

dc_listings['price'] = dc_listings.price.str.replace("\$|,",'').astype(float)

dc_listings = dc_listings.dropna()#捨棄掉欄位缺失的

dc_listings[features] = StandardScaler().fit_transform(dc_listings[features])
#做標準化

normalized_listings = dc_listings

print(dc_listings.shape)

normalized_listings.head()

(8299, 8)

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
0,-0.588676,-0.260949,-0.370044,-0.517251,-0.110639,0.054733,-0.011397,-0.575137
1,-0.588676,-0.260949,-0.370044,-0.517251,-0.175856,0.842967,-0.011397,-0.485652
2,-0.245261,-0.260949,-0.370044,-0.517251,-0.110856,-0.082351,-0.011704,0.266023
3,-0.588676,-0.260949,0.018149,-0.517251,-0.136726,-0.082351,-0.011397,0.319714
4,-0.932090,-0.260949,1.959115,0.639282,-0.231183,-0.150893,-0.011647,0.767139

In [96]:
norm_train_df = normalized_listings.copy().iloc[0:6000]
norm_test_df = normalized_listings.copy().iloc[6000:]

多變數的距離計算

<img src="9.png" style="width:700px;height:400px;float:left">

scipy中有現成的距離計算公式

In [97]:
from scipy.spatial import distance

first_listing = normalized_listings.iloc[0][['accommodates', 'bathrooms']]
fifth_listing = normalized_listings.iloc[200][['accommodates', 'bathrooms']]
first_fifth_distance = distance.euclidean(first_listing, fifth_listing)
first_fifth_distance

0.3434147788647921

## 多變數KNN模型

In [98]:
def predict_price_multivariate(new_listing_value,feature_columns):
    temp_df = norm_train_df
    temp_df['distance'] = distance.cdist(temp_df[feature_columns],[new_listing_value[feature_columns]])
    temp_df = temp_df.sort_values('distance')
    knn_5 = temp_df.price.iloc[:5]
    predicted_price = knn_5.mean()
    return(predicted_price)

cols = ['accommodates', 'bathrooms']
norm_test_df['predicted_price'] = norm_test_df[cols].apply(predict_price_multivariate,feature_columns=cols,axis=1)    
norm_test_df['squared_error'] = (norm_test_df['predicted_price'] - norm_test_df['price'])**(2)
mse = norm_test_df['squared_error'].mean()
rmse = mse ** (1/2)
print(rmse)

0.6326977650117355

# 參考資料
* https://www.twblogs.net/a/5baab1662b7177781a0e63a0
* https://blog.csdn.net/weixin_41789707/article/details/80930274?utm_source=copy
* https://scikit-learn.org/stable/modules/neighbors.html?fbclid=IwAR1fuB0TtM1ZpzzNyHvHWc9mw0KqKzuDgmnXQON9UcOByosoNEWNgJJda8Y#ball-tree
* https://www.javatpoint.com/k-nearest-neighbor-algorithm-for-machine-learning?fbclid=IwAR2dRxMOfVOu1eXw9STV8vAw-YQmeGQTL-LcCLiPCYDkIYGgrRV5Tp-LYdQ